/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color and text color for the whole page */
body {
  background-color: #f4f4f4;
  color: #333;
  font-family: 'Raleway', sans-serif;
}

/* Style the header */
#header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}

#header h1 {
  font-size: 36px;
}

/* Style the navigation menu */
.nav-menu ul {
  list-style: none;
}

.nav-menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-menu ul li:last-child {
  margin-right: 0;
}

.nav-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-menu ul li a:hover {
  color: #12D640;
}

/* Style the social links */
.social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  font-size: 24px;
}

/* Style the about section */
.about {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

.about img {
  max-width: 100%;
}

/* Style the research section */
#Research {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

/* Style the teaching section */
#Teaching {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

/* Style the links section */
#links {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

.icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.icon-box a {
  color: #333;
  text-decoration: none;
}

/* Style the contact section */
.contact {
  background-color: #fff;
  padding: 40px 0;
  text-align: center;
  font-size: 18px;
}

.info-box i {
  font-size: 36px;
  color: #12D640;
}

.info-box h3 {
  margin-top: 10px;
  font-size: 24px;
}

.info-box p {
  color: #333;
  font-size: 18px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-menu ul li {
    display: block;
    margin-bottom: 10px;
  }

  .nav-menu ul li:last-child {
    margin-bottom: 0;
  }
}
